<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plugin1.mapper.Plugin1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plugin1">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from plugin1
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" /> from plugin1
        where id = #{id}
    </select>

    <select id="getByCondition" resultMap="BaseResultMap" parameterType="plugin1">
        select <include refid="Base_Column_List" /> from plugin1
        <where>
            <if test="id!=null and id!=''">
                id=#{id}
            </if>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
        </where>
    </select>

</mapper>
