<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plugin2.mapper.Plugin2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plugin2.entity.Plugin2">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from plugin2
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" /> from plugin2
        where id = #{id}
    </select>

</mapper>
