<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisplus.plugin.mapper.AppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="app">
        <id column="app_id" property="appId" />
        <result column="version_name" property="versionName" />
        <result column="version_code" property="versionCode" />
        <result column="version_explanation" property="versionExplanation" />
        <result column="gmt_updated_time" property="gmtUpdatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        app_id, version_name, version_code, version_explanation, gmt_updated_time
    </sql>

    <select id="getAppVersion" parameterType="java.lang.Integer" resultType="app">

        select app_id, version_name, version_code, version_explanation, gmt_updated_time from app where version_code  <![CDATA[ >= ]]> #{versionCode}
        order by version_code desc
    </select>

    <insert id="addApp" parameterType="app">
        INSERT INTO app (app_id,version_name,version_code,version_explanation,gmt_updated_time)
        VALUES (#{appId},#{versionName},#{versionCode},#{versionExplanation},#{gmtUpdatedTime})
    </insert>


    <select id="getAppVersionLimit" resultMap="BaseResultMap">
        select app_id, version_name, version_code, version_explanation, gmt_updated_time from app  ORDER BY  version_code desc limit 1
    </select>

</mapper>
